
.draft {
    background-color: rgb(11, 13, 14);
    text-align: center;
    padding: 20px;
    font-size: 30px;    
    border-radius: 100px;
    border-style: solid;
    border-color: red;
}
.draft a {
    color:black;

}

#heroes {
    padding: 50px;
    border-radius: 100px;    
    background-color: red;
    border-style: solid;
    border-color: blue;
    
}

#heroes a {
    color: rgb(22, 51, 83);
}

h1 {
    text-align: center;
    background-color: rgb(190, 173, 176);
    
    
}

#items {
    font-size: 30px;
    border-radius: 100px;
    background-color: rgb(98, 0, 255);
    padding: 50px;
    border-style: solid;
    border-color: red;

}

#items a {
    color:black;
}

#tips
{
    font-size: 20px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 100px;
    background-color: rgb(16, 81, 7);
    padding-top: 10px;
    padding-bottom: 20px;
    border-style: solid;
    border-color: rgb(161, 236, 11);

}
a {
    text-decoration: none;
}

 img {
    border-style: solid;
    border-width: 5px;
    border-color: white;
    
}
#yes {
    background: url(mlbg.jpg);
}
.badangpic {
    display: flex;
   
}
.cecilionpic {
    display: flex;
}
.irithelpic {
    display: flex;
}
.lukaspic {
    display: flex;
}
.joypic {
    display: flex;
}
h2 {
    margin: 2%;
    font-size: 150px;
}
#bad img{
    display: flex;
}